# OS X
.DS_Store

# Python
*.pyc
*.pyo

# virtualenv
venv*

# Poetry
/dist
/.uwheels

# GitHub Actions
/setup/arguments.txt

# PyCharm
.idea

# Profiling output
*.prof
*.prof.svg

# Local startup file
startup.py

# Temporary directories not cleaned up correctly
tmpdir_*

# AI Coding
/plan

# Coverage
.coverage

# Large wxPython wheels
*.wgn
