[MAIN]
load-plugins=crystal_banned_api

[MESSAGES CONTROL]
# Disable default checks
disable=all

# Enable only crystal_banned_api messages
enable=C9001,C9002,C9003,C9004,C9005,C9006,C9007,C9008,C9009,C9010,C9011,C9012

[REPORTS]
score=no
